.text-xxs-yellow-800 { color: #713f12; } /* yellow-800 */
.text-xxs-blue-800 { color: #1e40af; } /* blue-800 */
.text-xxs-indigo-800 { color: #3730a3; } /* indigo-800 */
.text-xxs-green-800 { color: #166534; } /* green-800 */
.text-xxs-purple-800 { color: #581c87; } /* purple-800 */
.text-xxs-red-800 { color: #991b1b; } /* red-800 */
.text-xxs-gray-800 { color: #1f2937; } /* gray-800 */
